p{
    text-align: left;
    font-weight: normal;
    font-family: "Bona Nova SC";
     font-size: 25px;
     line-height: 75px;
     color: brown;
     text-decoration: underline black;
     border: 5px solid grey;
     border-radius: 20px;
     padding-left: 30px;
     margin-left: 100px;
     margin-right: 100px;
    margin-bottom: 100px;
 }
 h1{
    text-decoration: rgb(16, 43, 26)   underline;
    text-align: center;
    font-family: "Bona Nova SC";
    color: rgb(19, 141, 96);
    height: 50px;
    width: 300px;
    display: inline;
    
   
 }
 #we {
    color: black;
    background-color: rgb(150, 206, 206);

 }
  